In [5]:
import pandas as pd
import googlemaps
googlemaps_key = 'AIzaSyCfWOzKIjZ2kSQ4qK0_S0VuggIlyOfLUYI'
gmaps = googlemaps.Client(key=googlemaps_key)

In [12]:
st = pd.read_csv('../DATA/서울특별시 도서관 이용시간 및 휴관일 정보.csv',encoding='cp949')
st = pd.DataFrame(st)
st = st[st['구명']=='강서구']
df = pd.read_excel('../DATA/서울시 고령층 데이터 2021.xls',header = 1)
df = pd.DataFrame(df)
df = df[df['자치구']=='강서구']
df = df[['동','전체인구']]
df = df.drop([df.index[0]])
hjd = list(df['동'])

ans = []
for lt in range(len(st)):
    x = list(st['위도'])[lt]
    y = list(st['경도'])[lt]
    try : 
        r = gmaps.reverse_geocode((x,y),language='ko')
        for i in r:
            sn = i.get('address_components')
            for k in sn :
                j = k.get('short_name')
                ck = []
                for n in hjd :
                    if n == j :
                        ans.append(n)
    except :
        print('pass')

pass

In [18]:
nu = []
for i in hjd :
    a = 0
    for k in ans :
        if k == i :
            a+=1
    nu.append(a)

lib = pd.DataFrame()
lib['행정동'] = hjd
lib['도서관 수'] = nu

In [30]:
dt = pd.read_csv('../DATA/서울시 주요 공원현황.csv',encoding='cp949')
st = pd.DataFrame(dt)
st = st[st['지역']=='강서구']
ans = [0]*len(st)
for lt in range(len(st)):
    x = list(st['Y좌표(WGS84)'])[lt]
    y = list(st['X좌표(WGS84)'])[lt]
    try : 
        r = gmaps.reverse_geocode((x,y),language='ko')
        if lt % 100 == 0 :
            print(lt,'/',len(st), '진행')
        for i in r:
            sn = i.get('address_components')
            for k in sn :
                j = k.get('short_name')
                ck = []
                for n in hjd :
                    if n == j :
                        ans.append(n)
    except :
        print('pass')
nu = []
for i in hjd :
    a = 0
    for k in ans :
        if k == i :
            a+=1
    nu.append(a)

0 / 9 진행

In [32]:
lib.head()

    행정동  도서관 수
0   염창동     17
1  등촌1동      6
2  등촌2동      6
3  등촌3동      7
4  화곡본동      4

In [33]:
nu = []
for i in hjd :
    a = 0
    for k in ans :
        if k == i :
            a+=1
    nu.append(a)

pk = pd.DataFrame()
pk['행정동'] = hjd
pk['공원 수'] = nu
pk.head()

    행정동  공원 수
0   염창동     4
1  등촌1동     2
2  등촌2동     0
3  등촌3동     0
4  화곡본동     2

In [41]:
dt = pd.read_excel('../DATA/지하철노선위경도정보.xlsx')
st = pd.DataFrame(dt)
ans = [0]*len(st)
for lt in range(len(st)):
    x = list(st['Unnamed: 2'])[lt]
    y = list(st['Unnamed: 3'])[lt]
    try : 
        r = gmaps.reverse_geocode((x,y),language='ko')
        if lt % 100 == 0 :
            print(lt,'/',len(st), '진행')
        for i in r:
            sn = i.get('address_components')
            for k in sn :
                j = k.get('short_name')
                ck = []
                for n in hjd :
                    if n == j :
                        ans.append(n)
    except :
        print('pass')
nu = []
for i in hjd :
    a = 0
    for k in ans :
        if k == i :
            a+=1
    nu.append(a)
eki = pd.DataFrame()
eki['행정동'] = hjd
eki['역 개수'] = nu

0 / 975 진행
100 / 975 진행
200 / 975 진행
300 / 975 진행
400 / 975 진행
500 / 975 진행
600 / 975 진행
700 / 975 진행
800 / 975 진행
900 / 975 진행

    행정동  역 개수
0   염창동     5
1  등촌1동     0
2  등촌2동     0
3  등촌3동     0
4  화곡본동     0

In [56]:
ma = pd.read_csv('../DATA_P/행정동별.csv')
ma = ma[['행정동','쓰레기통 수','보안등 수','스마트가로등 수']]
ma = ma.sort_values('행정동')
fin = pd.merge(ma, d3, how='outer')
# fin.columns
fin = fin[['행정동', '쓰레기통 수', '보안등 수', '스마트가로등 수', '역 개수', '전체인구', '도서관 수', '공원 수', '버정 개수']]

In [60]:
# fin['공공설치물 총합'] = fin['쓰레기통 수'] + fin['보안등 수'] + fin['스마트가로등 수'] 
# fin['다중시설 총합'] = fin['역 개수'] + fin['도서관 수'] +fin['공원 수'] + fin['버정 개수']
# fin = fin[['행정동','다중시설 총합','공공설치물 총합','전체인구']]
fin.to_csv('../DATA_P/행정동별 공공설치.csv')

In [71]:
import numpy as np
from numpy import log as ln

fin = pd.read_csv('../DATA_P/행정동별 공공설치.csv')
fin = pd.DataFrame(fin)
fin['공공설치물 총합'] = 1/fin['공공설치물 총합']
fin1 = fin

fin = fin[['다중시설 총합','공공설치물 총합','전체인구']]
dt = []
for i in range(20) :
    li = []
    for j in list(fin.columns) :
        li.append(list(fin[j])[i])
    dt.append(li)

data1 = dt
n = len(data1[0])
m = len(data1)

for i in range(n):
    
    cl = []
    
    for j in range(m):
        
        cl.append(data1[j][i])
    
    max_n = max(cl)
    min_n = min(cl)
    
    for j in range(m) :
        data1[j][i] = round((data1[j][i] - min_n) / (max_n - min_n),3)
        


entropy = []

k = 1 / ln(m)

for i in range(n) :
    
    e = []
    
    for j in range(m):
        
        d = data1[j][i]
        if ln(d) == "-inf"  :
            e.append(0)
        else:
            ld = round(ln(d),3)
            if np.isnan(d*ld):
                e.append(0)
            else:
                e.append(d*ld)
        
        
    entropy.append(k * sum(e))
    

weight = []

sum_ent = sum(entropy)

for i in range(n) :
    weight.append(entropy[i]/sum_ent)

print(weight)

[0.40557975510285804, 0.17369765685103622, 0.4207225880461058]

<ipython-input-71-69281f096c9f>:48: RuntimeWarning: divide by zero encountered in log
  if ln(d) == "-inf"  :
<ipython-input-71-69281f096c9f>:51: RuntimeWarning: divide by zero encountered in log
  ld = round(ln(d),3)
<ipython-input-71-69281f096c9f>:52: RuntimeWarning: invalid value encountered in double_scalars
  if np.isnan(d*ld):

In [75]:
from sklearn import preprocessing

x = fin.values

min_max_scaler = preprocessing.MinMaxScaler()
x_sc = min_max_scaler.fit_transform(x)
fin2 = pd.DataFrame(x_sc)

fin2[0]

0     0.415584
1     0.082251
2     0.129870
3     1.000000
4     0.034632
5     0.012987
6     0.489177
7     0.151515
8     0.428571
9     0.142857
10    0.168831
11    0.519481
12    0.203463
13    0.238095
14    0.238095
15    0.000000
16    0.268398
17    0.199134
18    0.186147
19    0.129870
Name: 0, dtype: float64

In [83]:
fin['공공설치물 지수'] = weight[0] * fin2[0] + weight[1]*fin2[1] + weight[2]*fin2[2]

# fin['공공설치물 지수'] = weight[0] * fin2[0] + weight[1]*fin2[1] + weight[2] * fin[2]
fin['행정동'] = fin1['행정동']

<ipython-input-83-f11564615d70>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fin['공공설치물 지수'] = weight[0] * fin2[0] + weight[1]*fin2[1] + weight[2]*fin2[2]

    다중시설 총합  공공설치물 총합   전체인구  공공설치물 지수   행정동
0       122  0.003401  34395  0.397891  가양1동
1        45  0.050000  14109  0.207057  가양2동
2        56  0.020833  15138  0.134218  가양3동
3       257  0.001330  31483  0.595888   공항동
4        34  0.002890  24436  0.133195  등촌1동
5        29  0.002358  20423  0.078862  등촌2동
6       139  0.010638  30714  0.413324  등촌3동
7        61  0.003067  36572  0.313297  발산1동
8       125  0.001548  43181  0.492203  방화1동
9        59  0.001277  23656  0.162885  방화2동
10       65  0.006452  22924  0.183789  방화3동
11      146  0.002309  41764  0.516352   염창동
12       73  0.001946  43129  0.401746  우장산동
13       81  0.000980  52770  0.517289  화곡1동
14       81  0.002410  18096  0.145019  화곡2동
15       26  0.003096  21661  0.089680  화곡3동
16       88  0.001880  20820  0.185075  화곡4동
17       72  0.001905  25096  0.203605  화곡6동
18       69  0.001838  24789  0.194761  화곡8동
19       56  0.001271  34612  0.276822  화곡본동

In [96]:
print(fin.columns)
fin = fin[['행정동','다중시설 총합', '공공설치물 총합', '전체인구', '공공설치물 지수']]
fin['공공설치물 지수'] /= 200
fin.sort_values('공공설치물 지수',ascending=False)

Index(['행정동', '다중시설 총합', '공공설치물 총합', '전체인구', '공공설치물 지수'], dtype='object')

     행정동  다중시설 총합  공공설치물 총합   전체인구   공공설치물 지수
3    공항동      257  0.001330  31483  29.794389
13  화곡1동       81  0.000980  52770  25.864460
11   염창동      146  0.002309  41764  25.817585
8   방화1동      125  0.001548  43181  24.610143
6   등촌3동      139  0.010638  30714  20.666203
12  우장산동       73  0.001946  43129  20.087314
0   가양1동      122  0.003401  34395  19.894527
7   발산1동       61  0.003067  36572  15.664860
19  화곡본동       56  0.001271  34612  13.841102
1   가양2동       45  0.050000  14109  10.352852
17  화곡6동       72  0.001905  25096  10.180232
18  화곡8동       69  0.001838  24789   9.738038
16  화곡4동       88  0.001880  20820   9.253750
10  방화3동       65  0.006452  22924   9.189467
9   방화2동       59  0.001277  23656   8.144264
14  화곡2동       81  0.002410  18096   7.250949
2   가양3동       56  0.020833  15138   6.710909
4   등촌1동       34  0.002890  24436   6.659764
15  화곡3동       26  0.003096  21661   4.483997
5   등촌2동       29  0.002358  20423   3.943082

In [54]:
bus = pd.read_csv('../DATA_P/버스정류장.csv')
bus = pd.DataFrame(bus)
bus = bus.sort_values('행정동')
pk = pk.sort_values('행정동')
lib = lib.sort_values('행정동')
# df['행정동'] = df['동']
df = df[['행정동','전체인구']]
df = df.sort_values('행정동')
eki = eki.sort_values('행정동')
d = pd.merge(eki, df, how='outer')
# d.head()
d1 = pd.merge(d,lib, how='outer')
# d1.head()
d2 = pd.merge(d1, pk, how='outer')
d3 = pd.merge(d2, bus, how='outer')

    Unnamed: 0   행정동  버정 개수
10          10  가양1동    103
11          11  가양2동     33
12          12  가양3동     41
14          14   공항동    218
1            1  등촌1동     26
2            2  등촌2동     23
3            3  등촌3동    132
13          13  발산1동     56
15          15  방화1동    106
16          16  방화2동     49
17          17  방화3동     45
0            0   염창동    120
19          19  우장산동     59
18          18  화곡1동     63
5            5  화곡2동     78
6            6  화곡3동     24
7            7  화곡4동     82
8            8  화곡6동     66
9            9  화곡8동     65
4            4  화곡본동     50