In [91]:
import pandas as pd

d1 = pd.read_csv('../DATA_P/강서구 가로쓰레기통.csv')
d2 = pd.read_csv('../DATA_P/강서구 보안등.csv')
d3 = pd.read_csv('../DATA_P/강서구 와이파이.csv')
d4 = pd.read_csv('../DATA_P/강서구 정보소외.csv')
d5 = pd.read_csv('../DATA_P/강서구 스마트가로등.csv')

In [92]:
d1['행정동'] = d1['Unnamed: 0']
d1['쓰레기통 수'] = d1['설치위치']
d1 = d1[['행정동','쓰레기통 수']]
d1

     행정동  쓰레기통 수
0   가양1동      51
1   화곡1동      24
2    공항동      24
3   발산1동      19
4   등촌3동      16
5   화곡6동      16
6    염창동      16
7   방화1동      16
8   가양3동      15
9   방화2동      14
10  등촌2동      12
11  가양2동      11
12  우장산동      11
13  방화3동      10
14  등촌1동      10
15  화곡본동       6
16  화곡4동       6
17  화곡3동       5
18  화곡2동       3
19  화곡8동       2

In [93]:
d2['행정동'] = d2['hjd']
d2['보안등 수'] = d2['num']
d2 = d2[['행정동','보안등 수']]
d2

     행정동  보안등 수
0   등촌2동    412
1   화곡2동    412
2   가양1동    230
3   화곡6동    509
4    공항동    711
5   등촌1동    333
6   발산1동    307
7   화곡1동    993
8   가양2동      9
9   방화1동    598
10  등촌3동     78
11  우장산동    503
12  가양3동     33
13  화곡8동    542
14  방화3동    145
15  화곡3동    318
16  화곡본동    781
17  화곡4동    525
18   염창동    417
19  방화2동    769

In [94]:
d3['와이파이 수'] = d3['wifi_num']
d3['실내 와이파이 수'] = d3['wi']
d3['실외 와이파이 수'] = d3['wo']
d3 = d3[['행정동','와이파이 수','실내 와이파이 수','실외 와이파이 수']]
d3

     행정동  와이파이 수  실내 와이파이 수  실외 와이파이 수
0   화곡2동      32          6         26
1   방화1동      60         14         46
2   화곡3동      48          9         39
3   등촌3동      72         33         39
4   우장산동      72         17         55
5   화곡8동      55          6         49
6    공항동      67         11         56
7   등촌1동      46         12         34
8   방화3동      41         14         27
9   화곡6동     116         68         48
10  가양1동     220         63        157
11  가양2동      47         29         18
12  화곡1동      92         14         78
13  발산1동      32          4         28
14   염창동      63         23         40
15  화곡본동      51          9         42
16  가양3동      48         22         26
17  등촌2동      39          4         35
18  화곡4동      52         12         40
19  방화2동      76         29         47

In [95]:
d4['행정동'] = d4['동']
d4 = d4[['행정동','전체인구','고령자 수','장애인 수','기초 수급자 수']]
d4

     행정동   전체인구  고령자 수  장애인 수  기초 수급자 수
0   등촌1동  24436   2934    735       309
1   가양1동  34395   3121    831       307
2   등촌2동  20423   3187    728       432
3   화곡2동  18096   2876    774       935
4   화곡3동  21661   4096    854       677
5    염창동  41764   4422   1072       233
6   화곡6동  25096   3948    948      1019
7   화곡4동  20820   3845    966      1228
8   화곡8동  24789   4444   1054      1145
9    공항동  31483   4303   1062      1771
10  가양3동  15138   3721   1705      2312
11  우장산동  43129   5829   1259       694
12  발산1동  36572   4874   1489      1546
13  방화2동  23656   4857   1604      1698
14  화곡본동  34612   4900   1417      1904
15  방화3동  22924   5260   2002      2276
16  방화1동  43181   6616   1819      1210
17  가양2동  14109   4134   2458      3330
18  화곡1동  52770   8430   2123      1971
19  등촌3동  30714   6761   3827      5507

In [96]:
d5['스마트가로등 수'] = d5['갯수']
d5 = d5[['행정동','스마트가로등 수']]
d5

     행정동  스마트가로등 수
0   화곡4동         1
1   등촌2동         0
2   화곡8동         0
3   화곡3동         0
4    염창동         0
5   방화1동        32
6    공항동        17
7   화곡1동         3
8   우장산동         0
9   화곡본동         0
10  등촌1동         3
11  가양1동        13
12  방화3동         0
13  발산1동         0
14  화곡2동         0
15  가양3동         0
16  등촌3동         0
17  화곡6동         0
18  가양2동         0
19  방화2동         0

In [102]:
d1 = d1.sort_values(by=['행정동'])
d2 = d2.sort_values(by=['행정동'])
d3 = d3.sort_values(by=['행정동'])
d4 = d4.sort_values(by=['행정동'])
d5 = d5.sort_values(by=['행정동'])

In [111]:
df = pd.merge(d1, d2, how='outer')
# df = df.loc[:, ~df.T.duplicated()]

In [114]:
df = pd.merge(df, d3, how='outer')
df = pd.merge(df, d4, how='outer')
df = pd.merge(df, d5, how='outer')

,행정동,쓰레기통 수,보안등 수,와이파이 수,실내 와이파이 수,실외 와이파이 수,전체인구,고령자 수,장애인 수,기초 수급자 수,스마트가로등 수
0,가양1동,51,230,220,63,157,34395,3121,831,307,13
1,가양2동,11,9,47,29,18,14109,4134,2458,3330,0
2,가양3동,15,33,48,22,26,15138,3721,1705,2312,0
3,공항동,24,711,67,11,56,31483,4303,1062,1771,17
4,등촌1동,10,333,46,12,34,24436,2934,735,309,3
5,등촌2동,12,412,39,4,35,20423,3187,728,432,0
6,등촌3동,16,78,72,33,39,30714,6761,3827,5507,0
7,발산1동,19,307,32,4,28,36572,4874,1489,1546,0
8,방화1동,16,598,60,14,46,43181,6616,1819,1210,32
9,방화2동,14,769,76,29,47,23656,4857,1604,1698,0
10,방화3동,10,145,41,14,27,22924,5260,2002,2276,0
11,염창동,16,417,63,23,40,41764,4422,1072,233,0
12,우장산동,11,503,72,17,55,43129,5829,1259,694,0
13,화곡1동,24,993,92,14,78,52770,8430,2123,1971,3
14,화곡2동,3,412,32,6,26,18096,2876,774,935,0
15,화곡3동,5,318,48,9,39,21661,4096,854,677,0
16,화곡4동,6,525,52,12,40,20820,3845,966,1228,1
17,화곡6동,16,509,116,68,48,25096,3948,948,1019,0
18,화곡8동,2,542,55,6,49,24789,4444,1054,1145,0
19,화곡본동,6,781,51,9,42,34612,4900,1417,1904,0

In [115]:
df.to_csv('../DATA_P/행정동별.csv')