In [20]:
import pandas as pd

d1 = pd.read_csv('../DATA_P/보안등 위경도.csv')
d2 = pd.read_csv('../DATA_P/스마트가로등 위경도.csv')
d3 = pd.read_csv('../DATA_P/와이파이 위경도.csv')
d1 = pd.DataFrame(d1)
d2 = pd.DataFrame(d2)
d3 = pd.DataFrame(d3)
d = pd.concat([d1, d2])
d3['위도'] = d3['lnt']
d3['경도'] = d3['lat']
d3 = d3[['카테고리','위도','경도']]
d = pd.concat([d,d3])
d = d.reset_index()
d = d[['카테고리','위도','경도']]
d

       카테고리         위도          경도
0       보안등  37.572503  126.842042
1       보안등  37.572176  126.841679
2       보안등  37.572176  126.841679
3       보안등  37.571899  126.841075
4       보안등  37.571660  126.840895
...     ...        ...         ...
10097  와이파이  37.542007  126.849230
10098  와이파이  37.542007  126.849230
10099  와이파이  37.551506  126.853584
10100  와이파이  37.551506  126.853584
10101  와이파이  37.564040  126.813720

[10102 rows x 3 columns]